/*RESET*/
*{margin:0;padding:0}
*{scroll-behavior: smooth}
header{justify-content: space-between}
/*header nav ul li, header h1 {margin: 20px;}

/*CONTAINER*/
.flex-row{display:flex;flex-direction:row; flex-wrap: wrap}
.flex-column{display:flex;flex-direction:column;}


.bg-white{background-color: white}
.bg-gray{background-color: gray}
.bg-black{background-color: #2B2B2B}


body{
    margin: 0px;
    width: 100%;
    
}

/*------------------------ HEADER NAV -----------------------*/

/* NAV-BAR RESPONSIVE HAMBBURGER MENU */


a {
  font-size: 0.8em;
  color: #fff;
}

/* header */

.header {
  background-color: #373c3f;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;

}

#nav{

  transition: top 0.3s ease-in-out;
  transition-delay: 0.2s;
}

#nav.header.hidden {
  top: -80px;
  
}

.header ul {
  margin: 0;
  padding-bottom: 20px;
  list-style: none;
  overflow: hidden;
  background-color: #373c3f;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
 /* background-color: #616365;*/
 background-color: #11ABB0;
}

.header .logo {
  display: block;
  float: left;
  align-items: center;
  font-size: 1.5em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  /*display: inline-block;*/
  float:right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: rgb(255, 255, 255);
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background:  rgb(255, 255, 255);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 270px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/* END NAVBAR RESPONSIVE */


/*------------------------------------ SECTION 1 BANNER LANDING ------------------------------------------------*/

img.linksimplon{
  display: inline-block;
  width: 19%;
  position: relative;
  top: 22px;
  cursor: pointer;
  color: #777778;
  
} 



img.linksimplon:hover{
  
  background-color:rgba(17, 171, 176, 0.733);
  border-radius: 5px;
  
}




section.flex-row.banner{
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg-image-landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

h1.text-focus-in{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  letter-spacing: 0.1em;
  text-shadow: 0px 5px 5px rgba(96, 96, 96, 0.8);
}


div.separateur{
  border-bottom: 1px solid rgba(70, 70, 70, 0.612);
  margin-top: 30px;
  margin-bottom: 20px;

}



h3.banner{
  font-family: 'Libre Baskerville', serif;
  font-size: 1.1em;
  text-align:center;
  letter-spacing: 0.1rem;
  line-height: 30px;
  margin-top: 20px;
  padding: 20px;
  color: #777778;

}

span.banner{
  color: rgb(28, 95, 196);
  font-size: 1.1em;

}

span.banner:hover{
  color:#11ABB0;
}

span.banner-title{
  font-family: 'Libre Baskerville', serif;
  color: #000000;
  font-size: 1.3em;
  font-weight: 700;
}

div.banner-text{
  text-align: center;
  position: absolute;
  top: 18%;

}



ul.flex-row.banner-social{
  list-style: none;
  font-size: 2.5em;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
 
}

i.fab.fa-linkedin-in{
  color:rgba(140, 140, 140, 0.899);
}

i.fab.fa-linkedin-in:hover{
  color:#11ABB0;
}


i.fab.fa-github{
  color:rgba(140, 140, 140, 0.899);
}

i.fab.fa-github:hover{
  color:#11ABB0;
}

i.fas.fa-envelope-square{
  color:rgba(14, 14, 14, 0.899);
}

i.fas.fa-envelope:hover{
  color:#11ABB0;
}

a.scroll{
  font-family: 'Libre Baskerville', serif;
  text-decoration: none;
  font-size: 1em;
}

a.linkedin.github.mail:hover{
  color: rgb(28, 95, 196);
  cursor: pointer;
}


/*---------------------------------- SECTION 2 A PROPOS --------------------------------------------*/


section#about{
  background-color: rgba(0, 0, 0, 0.76);
  padding: 30px 0 60px 0;
  overflow: hidden;
}


div.about.row{
    width: 80%;
    max-width: 1020px;
    margin: 0 auto;
}

div.profile-img{
  width: 30%;
  position: relative;
  bottom: 50px;
  padding: 0 20px;
  min-height: 1px;
  float: left;
}

img.profile-pic{
  position: relative;
  top:120px;
  border-radius: 5px;
}



div.about.text{
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 20px;

}
#about h2{
  display: flex;
  justify-content: flex-start;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: rgba(180, 180, 180, 0.345);
  text-transform: uppercase;
  padding-bottom: 6px;
  padding-top: 30px;
  margin: 30px 0 30px 0;
  letter-spacing: 0.9em;
  border-bottom: 3px solid #11ABB0;
  padding-bottom: 10px;
  
}

h3.about-title{
  display: flex;
  justify-content: flex-start;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  color: rgb(233, 233, 233);
  letter-spacing: 0.1em;

}

#about p{
  font-size: 0.9em;
  font-weight: lighter;
  letter-spacing: 0.1em;
  line-height: 30px;
  color: rgb(233, 233, 233);
}

div.download{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px 0 30px 0;
  position: relative;
  right: 7px;

}

a.button{
background-color:rgb(20, 20, 20);
color:#ccc;
font-weight: bold;
letter-spacing: 0.4em;
border-radius: 10px ;
padding:12px 20px;
text-decoration: none;

}


a.button:hover{
  color: #11ABB0;
  cursor: pointer;
}

i.fa.fa-download{
  margin-right: 10px;
}

div.download.img{
  width: 20%;
}

img.img.deco{
  width: 200px;
  height: 150px;
}


/*------------ SECTION 3 RESUME (EXPÉRIENCE ÉDUCATION COMPÉTENCES) -----------*/


.reveal [class*="reveal-"]{
  opacity: 0;
  transform: translateY(30px);
}

.reveal-visible [class*="reveal-"]{
  opacity: 1;
  transform: translateY(0);
  transition: 2s cubic-bezier(.26,.01,.73,1);
}

.reveal-visible .reveal-2 {
  transition-delay: .6s;
}

.reveal-visible .reveal-3 {
  transition-delay: .7s;
}

.reveal-visible .reveal-4 {
  transition-delay: .8s;
}



div.resume-img{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px 0 150px 0;

}



img.resume{
  width: 35%;
  z-index: 1;
  position: relative;
  left: 130px;
  bottom: 20px;
}

img.code{
  width: 15%;
  z-index: 2;
  position: relative;
  left: 250px;
  top:100px
}

div#rectangle1{
  width: 30vw;
  height: 10vh;
  background-color: rgba(147, 120, 120, 0.447);
  box-shadow: 10px 5px 5px black;
  opacity: 0.5;
  position: relative;
  top: 100px;
  right: 100px
  
  
}

section#resume{
  padding: 50px 0 0 0;
}

div.experience.bg-white{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 48px;
  padding-top: 60px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E8E8E8;
  width: 95%;
  max-width: 1020px;
  margin: 0 auto;
}


div.title{
  margin-right: 150px; 
  padding-right: 10px; 
}

div.title h2{
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 3px solid #11ABB0;
  padding-bottom: 6px;
  color: #313131;
}


h3.resume-tools{
letter-spacing: 2px;
font-size: 1.2em;
font-weight: bold;
color: #313131;

}

p.location{
  font-family: 'Open Sans', sans-serif;
  font-size: 0.93em;
  line-height: 1.7em;
  
  letter-spacing: 1px;
  color: #6E7881;
}

p.info{
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  margin: 0 0 10px 0;
  color: rgb(59, 61, 63);
  letter-spacing: 2px;
}

p.text{
  font-family: 'Open Sans', sans-serif;
  font-size: 0.93em;
  line-height: 1.7em;
  margin-bottom: 40px;
  letter-spacing: 1px;
  color: #6E7881;
}
em.date{
  font-family: 'Open Sans', sans-serif;
  font-size: 0.93em;
  font-style: normal;
}


div.education.bg-white{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top:  48px;
  margin-bottom: 48px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E8E8E8;
  width: 95%;
  max-width: 1020px;
  margin: 0 auto;
}


span.point{
  content: UTF-8 E2 80 A2;
  font-size: 2em;
  font-weight: bold;
  color:black;
  margin: 0 12px 0 12px;
  position: relative;
  top: 5px;
}


div.competence.bg-white{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 48px;
  padding-bottom: 24px;
  padding-top: 48px;
  
  width: 95%;
  max-width: 1020px;
  margin: 0 auto;
}


div.comp-title{
  margin-right: 130px;
}


div.comp-title h2{
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 3px solid #11ABB0;
  padding-bottom: 6px;
  color: #313131;

}


.bars{
  width: 95%;
  float: left;
  padding: 0;
  text-align: left;
  margin-top: 20px;
}


ul.comp{
  margin-top: 36px;
  margin-bottom: 24px;
  list-style: none;
}


.bars li{
  position: relative;
    margin-bottom: 60px;
    background: #ccc;
    height: 42px;
    border-radius: 3px;
}


span.bar-expand{
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding-right: 24px;
  background: #313131;
  display: inline-block;
  height: 42px;
  line-height: 42px;
  border-radius: 3px 0 0 3px;
}


.bars li em{
  font: 15px 'opensans-bold', sans-serif;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  position: relative;
  bottom: 36px;
}


div.comp-text{
  width: 95%;
}


p.comp-text{
  margin:20px 0 20px 0;
  font-size: 0.93em;
  letter-spacing: 1px;
  line-height: 1.7em;
  color: #6E7881;
}

hr.cut{
  margin-bottom: 30px;
  width:100%
}


/* --------------------------------- MES TRAVAUX -----------------------*/

section.flex-row.works{
  justify-content: center;
  background-color:  rgba(216, 216, 216, 0.166);
  padding-top: 50px;
}


div.flex-row.main-cards{
  align-items: center;
  justify-content:space-evenly;
  margin:70px
}



h2.works-txt{
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 6px;
  margin: 30px 0 80px 0;
  letter-spacing: 0.9em;
  color:#ccc;
}


/*-----------FLIP BOX-------------------*/


.flip-card {
  background-color: transparent;
  width: 400px;
  height: 300px;
  perspective: 1000px;
  margin: 20px;
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  cursor: pointer;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}

.flip-card-front {
  background-color: black;
  color: white;
  letter-spacing: 0.4em ;
  border-radius: 10px;
  
}

.flip-card-back {
  width: 400px;
  height: 300px;

  background-color: #000000;
  text-align: center;
  color: rgba(227, 228, 228, 0.605);
  transform: rotateY(180deg);
  padding: 10px;
  border-radius: 10px; 
}

img{
  width: 100%;
  
}

div.flip-card-back h2 {
font-weight: 700;
letter-spacing: 0.2em;
padding-top: 90px;
}

div.flip-card-back p {
  font-size: 0.8em;
  letter-spacing: 0.2em;
  padding-top: 20px;
}

span.card-back{
  font-size: 1.1em;
  letter-spacing: 0.2em;
  position: relative;
  top: 30px;
}

a.card{
  color:white;
  text-decoration: none;
}

a.card:hover{
  color: #11ABB0;
  cursor: pointer;
}
/*------------------------ WIP PROJECT ------------------------------*/

section.flex-column.display{
  height: 90vh;
  align-items: center;
  justify-content: flex-start;
  background-image: url("../images/projet/bg-img-projet.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
}
img.display{
  width: 30%;
}



/* ----------------------- SECTION CONTACT -----------------------------*/

section#contact{
  background: #191919;
  padding-top: 50px;
  padding-bottom: 102px;
  color: #636363;
  font-size: 100%;
  vertical-align: baseline;
}

div.row{
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

form#contactForm{
  margin-bottom: 30px;
}

#contact label{
  font: 15px/24px 'opensans-bold', sans-serif;
  letter-spacing: 0.3em;
    margin: 12px 0;
    color: #EBEEEE;
    /*display: inline-block;*/
    float: left;
    width: 15%;
    vertical-align: baseline;
    background: transparent;
    margin-right: 40px;
}

input[type="text"]{
  margin: 0 0 24px 0;
  vertical-align: middle;
  min-width: 225px;
  max-width: 100%;
}

#contact input{
  padding: 18px 20px;
  color: #eee;
  background: #373233;
  margin-bottom: 42px;
  border: 0;
  outline: none;
  font-size: 15px;
  line-height: 24px;
  width: 65%;
}

#contact textarea{
  padding: 18px 20px;
  color: #eee;
  background: #373233;
  margin-bottom: 42px;
  border: 0;
  outline: none;
  font-size: 15px;
  line-height: 24px;
  width: 65%;
  min-height: 220px;
  vertical-align: middle;
  min-width: 225px;
  max-width: 100%;
    
}

#contact button.submit{
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.5em;
  background: #373233;
  border: none;
  cursor: pointer;
  height: auto;
  display: inline-block;
  border-radius: 6px;
  margin-left: 19%;
  padding: 12px 20px;
  margin-bottom: 18px;
}

#contact button.submit:hover{
  color:#11ABB0;
  cursor: pointer;
}

h2.contact-title{
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 6px;
  padding-top: 10px;
  margin: 30px 0 80px 0;
  letter-spacing: 0.9em;
  color:#ccc;
}

.message{
  font-size: 1em;
  font-weight: bold;
  text-transform: lowercase;
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 6px;
  padding-top: 10px;
  margin: 30px 0 40px 0;
  letter-spacing: 0.3em;
  color:#ccc;
}

.thanks{
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color:white;
}


/*--------------------AJOUT PROJET------------------*/

section#projet{
  background:  white;
  padding-top: 50px;
  padding-bottom: 102px;
  color: #636363;
  font-size: 100%;
  vertical-align: baseline;
}

div.row-form{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

form#projetForm{
  margin-bottom: 30px;
}

#projet label{
  font: 15px/24px 'opensans-bold', sans-serif;
  letter-spacing: 0.3em;
  margin: 12px 0;
  color: rgb(85, 85, 85);
  
  float: left;
  width: 15%;
  vertical-align: baseline;
  background: transparent;
}

input[type="text"]{
  margin: 0 0 24px 0;
  vertical-align: middle;
  min-width: 225px;
  max-width: 100%;
}

#projet input{
  padding: 18px 20px;
  color: #eee;
  background: #373233;
  margin-bottom: 42px;
  border: 0;
  outline: none;
  font-size: 15px;
  line-height: 24px;
  width: 65%;
}

#projet textarea{
  padding: 18px 20px;
  color: #eee;
  background: #373233;
  margin-bottom: 42px;
  border: 0;
  outline: none;
  font-size: 15px;
  line-height: 24px;
  width: 65%;
  min-height: 220px;
  vertical-align: middle;
  min-width: 225px;
  max-width: 100%;
    
}

#projet button.submit{
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.4em;
  background: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  height: auto;
  display: inline-block;
  border-radius: 3px;
  margin-left: 15%;
  padding: 12px 20px;
  margin-bottom: 18px;

}

h2.projet-title{
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 6px;
  padding-top: 10px;
  margin: 30px 0 80px 0;
  letter-spacing: 0.3em;
  color:rgb(87, 86, 86);
}



/* --------------------FOOTER --------------------*/

section#footer{
  background:#101010;
  padding: 100px 0 100px 0;
}


ul.flex-row.footer-social{
  list-style: none;
  font-size: 2.5em;
  justify-content: space-evenly;
  align-items: center;
}


div.copyright{
  text-align: center;
  font-size: 0.9em;
  letter-spacing: 0.2em;
  color: #b3b2b2c4;
  margin-top:100px;
}



/*------------ANIMATION-------------------*/

.reveal{
  opacity: 0;
  transform: translateY(-30px);
}

.reveal-visible{
  opacity: 1;
  transform: translateY(0);
  transition: .3s;

}

/* ----------------MEDIA QUERIES------------------------- */

/* 40em = 640px */

@media (min-width: 40em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: left;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    .header .logo{
        display: none;
    }
  }

  @media (max-width:20em){
    div.banner-text{
        width: 100%;
    }

    h3.banner{
        margin:10px;
    }
}



















