/* ----------------MEDIA QUERIES------------------------- */

/* 40em = 640px */

@media  (min-width: 45em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: left;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    .header .logo{
        display: none;
    }
  }


@media screen and (max-width: 760px){
    div.about.row {
      display: flex;
      flex-direction: column;
    }
    section#resume {
      display: flex;
      flex-direction: column;
    }
}


@media screen and (max-width: 720px){
  div.resume-img.reveal.reveal-visible {
    display: flex;
    flex-direction: column;
  }
  
}


@media screen and (max-width: 720px){
  div.experience.bg-white.reveal.reveal-visible {
    display: flex;
    flex-direction: column;

  }
  
}


@media screen and (max-width: 720px){
  div.education.bg-white.reveal.reveal-visible {
    display: flex;
    flex-direction: column;

  }
  
}


@media screen and (max-width: 720px){
  div.competence.bg-white.reveal.reveal-visible {
    display: flex;
    flex-direction: column;

  }
  
}


@media screen and (max-width: 720px){
  div.title {
    margin-bottom: 40px;
  }
  div.comp-title{
    margin-bottom: 40px;
  }
  
}


@media screen and (max-width: 720px){
  div#rectangle1 {
    display: none;
  }

  img.code {
    display: none;
  }
  
  img.resume{
    width: 70%;
    text-align: center;
    position: static;
  }
  
}


@media screen and (max-width: 720px){
  label{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 720px){
  input{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 840px){
  img.profile-pic{
    margin-bottom: 40px;
  }
}




/*----------------------------HOME--------------------------------*/

@media screen and (max-width:490px){

  header#nav.header{
    
  }
}

  h1.text-focus-in{
    font-weight: 500;
    font-size: 2rem;
    padding: 15px;
  }

  h3.banner{
    font-size: 0.9em;
    letter-spacing: 0.1rem;
    padding: 30px;
  }


  img.linksimplon{
    width: 22%;
    top: 13px;
    
  } 

}

/*---------------------------SECTION A PROPOS---------------------------*/

@media screen and  (max-width:490px){

  div.profile-img{
    width: 50%;
   left: 80px;
    
  }
}


/*----------------------------SECTION RESUME-----------------------------*/

@media screen and  (max-width:490px){

  section#resume{
    padding: 50px 30px 40px 30px;
  }

}


/*-----------------------------CONTACT-----------------------------------*/
@media screen and  (max-width:490px){


form{
  padding: 40px;
}
  
.message{
  font-size: 0.75em;
  font-weight: bold;
  text-transform: lowercase;
  text-align: center;
  padding-bottom: 6px;
  padding-top: 10px;
  margin: 30px 0 40px 0;
  letter-spacing: 0.2em;
  color:#ccc;
}

}