/* ----------------MEDIA QUERIES------------------------- */

/* 40em = 640px */

@media (min-width: 40em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: left;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    .header .logo{
        display: none;
    }
  }


  @media (max-width:20em){
      div.banner-text{
          width: 100%;
      }

      h3.banner{
          margin:10px;
      }
  }